body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Warna Background Abu-abu */
}

header {
    background-color: #1a237e; /* Biru Tua */
    color: white;
    padding: 40px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

section {
    background-color: white;
    padding: 40px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}