/* Reset margin dan padding */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
}

nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: darkblue;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}

main {
    padding: 50px;
}

h1 {
    margin: 0;
    color: #333;
}